/* v0.4 */

/* 

START invert PDF webpage color. 

DISCLAIMER: This will likely break images due to the color being inverted! 

https://stackoverflow.com/questions/61814564/how-can-i-enable-dark-mode-when-viewing-a-pdf-file-in-firefox
https://en.wikipedia.org/api/rest_v1/page/pdf/Help%3ADownload_as_PDF <- For testing! :) 

*/

#viewerContainer > #viewer > .page > .canvasWrapper > canvas {

	/*
	
	This option is here encase you need it. (Just un-comment this to re-enable this filter.)
	
		filter: grayscale(100%);
	
	*/
	
		filter: invert(100%);
	 }
	
	/* STOP invert PDF webpage color. */
	
	/* 
	
	START PDF dark theme.
	
	Referencing:
	
	resource://pdf.js/web/viewer.css
	https://support.mozilla.org/en-US/questions/1305573
	
	*/
	
	/* Color of the area surrounding the main text area. */
	#viewer.pdfViewer {
		background-color: #181a1b !important;
	}
	
	/* Toolbar container and Viewer. */
	#toolbarContainer > #toolbarViewer, 
	#toolbarContainer > #toolbarViewer input,
	#toolbarContainer > #toolbarViewer select,
	#toolbarContainer > #toolbarViewer option,
	#toolbarContainer > #toolbarViewer span,
	#secondaryToolbar,
	#secondaryToolbar > #secondaryToolbarButtonContainer button {
	
	/* Page number and zoom. */
		color: #ffffff !important;
	/* Top bar color. */
		background-color: #181a1b !important;
	}
	#toolbarContainer > #toolbarViewer button::before,
	#toolbarContainer > #toolbarViewer a::before,
	#toolbarContainer > #toolbarViewer span::after,
	#secondaryToolbar > #secondaryToolbarButtonContainer button::before {
		filter: invert(1) !important;
	}
	#toolbarContainer > #toolbarViewer button:hover,
	#toolbarContainer > #toolbarViewer a:hover {
		/* Does not seem to affect anything as far as I am aware. */
		background-color: #181a1b !important;
	}
	
	/* STOP PDF dark theme. */
	
	/* START Anti-flash */
	
	/* 
	
	Force Firefox not to flash white when a page loads. 
	
	# Limitations: 
	
	A lot of websites use unique css so switching tabs within Firefox may still flash white. This issue likely occurs because converting a web-pages unique css into this css always takes time. 
	
	*/
	
	html {
	
	background-color: #181a1b;
	
	}
	
	/* STOP Anti-flash */
	
	/* START Aurora theme */
	
	@-moz-document url-prefix(view-source:) {
	
	/* 
	
	Aurora theme for Firefox view-source pages.
	
	Instructions: 
	
	# 1. 
	
	about:config
	
	# 2.
	
	toolkit.legacyUserProfileCustomizations.stylesheets -> true
	
	# 3.
	
	~/.firefox/012345678.default-default/chrome/userContent.css
	
	# Web-page(s) to reference: 
	
	➤ https://c9x3.neocities.org/
	
	➤ https://gist.github.com/abelcheung/0229ee3ab896feac8126f40eb1405996
	
	Thank you so much for the help Abelcheung! If I didn't mention you, thanks to everyone I didn't mention! :)
	
	*/
	
		*|*:root {
			background: none !important;
		}
	
		#viewsource {
			background-image: 
			url(),
			linear-gradient(to right, rgb(35, 150, 130), rgb(35, 125, 130), rgb(15, 100, 130) ); 
			/*background-size: cover, cover, auto 3em;*/
			background-position: center, center, top 10px left 0;
			background-attachment: fixed, fixed, scroll;
			background-repeat: no-repeat, no-repeat, repeat-y;
			/*background-blend-mode: overlay, normal, normal;*/
			/* Inside of title area: */
			color: #000000;
		}
	
	/* Line number color */
	
		pre[id]:before,
		span[id]:before {
			width: 6ch !important;
			color: #000000 !important;
			margin-left: -7ch !important;
		}
	
	/* Line number separator line color */
	
		pre {
			padding-left: 1ch;
			margin-left: 6ch !important;
			border-left: 2px solid #000000;
		}
	
	/* Padding? */
	
		pre > :first-child {
			padding-right: 1ch;
		}
	
	/* Start Tag color */
	
		.highlight .start-tag {
		 color: #000000 !important;
		}
	
	/* End tag color */
	
		.highlight .end-tag {
		 color: #000000 !important;
		}
	
	/* HTML comment area */
	
		.highlight .comment {
		 color: #000000 !important;
		}
	
	/* Doctype color */
	
		.highlight .doctype {
		 color: #000000 !important;
		}
	
	/* Attribute name. (Example, value, title, type.) */
	
	.highlight .attribute-name {
		color: #000000 !important;
	   }
	
	/* Error text color */
	
		.highlight .error,
		.highlight .error > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype,
		.pi, .entity, .attribute-name, .attribute-value) {
			color: #00c3ff !important;
	
	/* Error text color background */
	
			background-color: #000000 !important;
	
	/* START unimportant */
	
		.highlight .cdata {
		 color: #ffffff !important;
		}
	
		.highlight .pi {
			color: #ffffff !important; /* orchid -> blue */
		   }
	
		   .highlight .entity {
			color: #ffffff !important; /* violet -> yellow */
		   }
	
		   .highlight .attribute-value {
			color: #ffffff !important;
			text-shadow: 1px 1px 2px black;
		   }
	   
		   .highlight .markupdeclaration {
			color: #ffffff !important;
		   }
	
	/* STOP unimportant */
	
		}
	}
	
	/* STOP Aurora theme */

	
